body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}
.title {
	font-size: var(--lg);
	margin-bottom: 40px;
	text-align: start;
}
.logo {
	height: 46px;
	width: 206px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
